body {
    background-color: rgb(0, 30, 38);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body#adminDashboard {
    background-color: rgb(25, 28, 31);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1 {
    margin: 0px;
    font-size: 28px;
}
h2 {
    margin: 0px;
    font-size: 26px;
}
h3 {
    margin: 0px;
    font-size: 24px;
}
h4 {
    margin: 0px;
    font-size: 22px;
}
h5 {
    margin: 0px;
    font-size: 20px;
}
h6 {
    margin: 0px;
    font-size: 18px;
}
.flex {
    display: flex;
}
.center-all {
    justify-content: center;
    align-items: center;
}
.center-between {
    justify-content: space-between;
    align-items: center;
}
.center-start {
    justify-content: flex-start;
    align-items: center;
}
.h-screen {
    height: 100vh;
}
img {
    height: 35px;
    margin-right: 15px;
}
p {
    color: rgb(167, 185, 185);
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}
.container {
    max-width: 900px;
    padding: 20px;
}
.card {
    background: rgb(1, 42, 53);
    padding: 0px;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 15px;
}
.green,
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
}
ion-icon {
    font-size: 24px;
    width: 100px;
}

i.fa-facebook {
    color: #4267B2;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
}

i.fa-twitter {
    color: #1DA1F2;
}

i.fa-reddit {
    color: #FF5700;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
}

.alert-container {
    margin: 30px auto -30px auto;
    padding-left: 0px;
    padding-right: 0px;
    width: fit-content;
}

.alert-container .alert strong {
    margin-right: 5px;
}

.navbar .navbar-nav .nav-item .nav-link {
    letter-spacing: 0.5px;
    margin: 0px 10px 0px 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar .navbar-nav .nav-item .active {
    font-weight: 600;
    border-bottom: 1px solid rgb(243, 219, 0);
    max-width: fit-content;
}

.navbar .navbar-nav #logout {
    margin-left: 10px;
}

.welcome-page {
    padding-top: 0px;
    margin-top: 0px !important;
}

.welcome-page .border {
    padding-top: 0px !important;
}

@media only screen and (max-width: 500px) {
    .flex.card {
        flex-wrap: wrap;
    }
    .flex.card > * {
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .front-page .video, .front-page .article, .front-page .blip {
        padding: 25px 0px 45px 0px !important;
    }
}

@media only screen and (min-width: 1800px) {
    .welcome-page {
        width: 65% !important;
        max-width: 1500px !important;
    }

    .news  {
        max-width: 1400px !important;
    
    }
}

p {
    font-size: 12pt;
    color:#14eee3;
}

/* pages.welcome */

.welcome li {
    display: inline;
    margin: 0px 15px 0px 15px;
    font-size: 12pt;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(28, 114, 138);
}

.nav img {
    width: 40px;
    height: 20px;
    margin: 0px;
    margin-left: 5px;
}

.front-page .video, .front-page .article {
    height: 100%;
}

/* countries.all */

.countries {
    margin-top: 25px;
}

.countries .hero {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(28, 114, 138);
    border-radius: 10px;
    padding: 75px 15px 75px 15px;
    background-color: #1fe7d7;
}

.countries .no-border {
    border: 0px;
}

.countries .hero .flag {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.countries .hero .content {
    position: relative;
    z-index: 3;
}

.countries .hero .content h1 {
    font-weight: 600;
    letter-spacing: 1px;
}

.countries .hero h1 {
    color: #000;
    font-weight: 900;
}

.countries .hero p {
    position: relative;
    top: 15px;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.countries .hero p b {
    font-size: 115%;
    border-bottom: 1px solid #08726b;
}

.countries .hero .request {
    text-align: center;
}

.countries .hero .request a {
    margin-top: 15px;
}

.countries .hero .request a:hover {
    background-color: #22948e;
}

.countries .list {
    margin-top: -15px;
    margin-bottom: 15px;
}

.countries .list .country {
    position: relative;
    text-align: center;
    border: 1px solid rgb(28, 114, 138);
    border-radius: 10px;
    padding: 45px 15px 45px 15px;
    margin: 20px 5px 20px 5px;
    height: 100%;
    transition: background-color 0.5s ease;
}

.countries .list .country h3 {
    margin-bottom: 15px;
}

.countries .list .country small {
    background-color: #14eee3;
    border-radius: 15px;
    font-size: 50%;
    color: #000;
    padding: 5px 3px 5px 3px;
}

.countries .list .country .outro {
    position: absolute;
    bottom: 25px;
    margin: 0px auto;
    margin-top: 45px;
    width: 100%;
    left: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.countries .list .country .leader {
    margin: 0px;
    background-color: rgb(243, 219, 0);
    color: #000;
    font-size: 10pt;
    border-radius: 15px;
    padding: 5px 8px 5px 8px;
    font-weight: 600;
}

.countries .list .country:hover {
    background-color: rgb(3, 42, 53);
    cursor: pointer;
}

.blips .border {
    position: relative;
    text-align: center;
    border: 1px solid rgb(28, 114, 138) !important;
    border-radius: 10px;
    padding: 45px 15px 0px 15px;
    margin: 20px 5px 20px 5px;
    height: 100%;
    transition: background-color 0.5s ease;
}

.blips h6 {
    margin-top: 15px;
}

.news, .account {
    max-width: 750px;
    margin: 0px auto;
    padding: 25px 0px 0px 0px;

}

.account .btn {
    margin: 0px 5px 0px 0px;
}

.news a {
    padding: 0px;
}

.news .article, .news .video {
    position: relative;
    padding: 25px 35px 45px 35px;
    transition: background-color 0.3s ease;
}

.news .article:hover, .news .video:hover {
    background-color: rgb(3, 42, 53);
}

.news .article span, .news .video span {
    position: absolute;
    bottom: 15px;
}

.news .article i, .news .video i {
    position: relative;
    font-size: 150%;
    left: 5px;
    top: 4px;
}

/* Show a article for reading */

.article .breadcrumb-item {
    letter-spacing: 0.5px;
}

.article .breadcrumb-item a {
    border-bottom: 1px solid rgb(243, 219, 0);
}

.article h1, .article h4 {
    margin-bottom: 5px;
    font-weight: 900;
}

.article h3, .article h5 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #14eee3;
}

.article .date {
    font-weight: 100;
    margin-top: 15px;
}

.article .back i {
    margin-right: 5px;
    margin-bottom: 25px;
}

.processed-html {
    margin-top: 25px;
}

.processed-html h1, .processed-html h2, .processed-html h3, .processed-html h4, .processed-html h5, .processed-html h6 {
    margin: 15px 0px 15px 0px;
}

.processed-html p {
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}

.processed-html strong {
    color: #14eee3;
    letter-spacing: 1px;
}

.processed-html a {
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgb(243, 219, 0);
}

.processed-html img {
    display: block;
    padding: 5px;
    width: 60%;
    height: auto;
    margin: 25px auto;
    background-color: #14eee3;
    border-radius: 5px;
}

.processed-html pre {
    width:min-content;
    padding: 5px 0px 5px 15px;
    letter-spacing: 1px;
    color: #fff;
    border-left: 3px solid #14eee3;
}

.share {
    border: 1px solid rgb(28, 114, 138) !important;
    border-radius: 10px;
    padding: 45px 15px 25px 15px;
    margin: 35px auto 20px auto;
    max-width: 600px;
}

.share h4 {
    font-weight: 900;
}

.share .options {
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

.share .options li {
    list-style-type: none;
    font-size: 32pt;
    text-align: center;
}

#editor {
    background-color: #fff;
}

#form-country-input, #form-title-input, #form-description-input, #form-video-url-input, #form-editor-input {
    display: none;
}

.news .video h4 {
    font-weight: 900;
    margin-bottom: 5px;
}

.news .video h5 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #14eee3;
}

.video i.fa-youtube {
    margin: -1px 12px 0px 0px;
    font-size: 16pt !important;
    color: #FF0000;
}

.article i.fa-newspaper {
    margin: -1px 12px 0px 0px;
    font-size: 16pt !important;
    color: rgb(255, 252, 45);
}